$dark-magenta : #ec93c5;
$dark-blue : #49a7de;
$dark-yellow : #f6c54a;
$dark-orange : #e85e33;
$dark-grey : #212121;
$base-font-color : #f6f6f6;

body {
    background-color: $dark-grey;
    color: $base-font-color;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    canvas{
        border: 4px solid $base-font-color;
    }
    h1 {
        background-color: $dark-magenta;
        text-align: center;

    }
}

#chosenWordDiv {
    width: fit-content;
    min-width: 200px;
    height: 50px;
    background-color: #f6c54a;
    margin: auto;
    margin-bottom: 30px;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 1px 3px 3px $dark-grey;
    text-transform: capitalize;
}

$primary: $dark-magenta;
// $primary: #11998e;
$secondary: $dark-orange;
// $secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

/* demo */
#buttonsContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    // min-height: 100vh;
    font-size: 1.5rem;
    // background-color: $dark-grey;
}

button {
    background-color: $dark-magenta;
    display: block;
    font-size: 24px;
    color: $dark-grey;
}